**/.idea/
**/bazel-*
**/target/
*.sw*
*~
.DS_Store
perf.*
.gdb*
cargo-cache/
cargo-target/
.cargo-target-strict
.docker-cargo-*
.docker-scratchpad
massif.*
cargo-timing.*
cargo-timing-*
memory-profiling_*
heaptrack.*
*.profraw
bacon.toml

# run and debug configurations
.vscode/launch.json

TODO
demo/pire2pire
pire2pire

features/chat/personal_memories/build
.vim/coc-settings.json
gql/

